* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  margin: 0;
}

/* header */

#main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 0 20px;
  background-color: blue;
  position: relative;
  height: 150px;
}

.logo .div-1 {
  position: absolute;
  top: 20px;
  width: 200px;
  height: 100px;
  border-radius: 50%;
  background-color: palevioletred;
  padding-top: 30px;
  border: 3px solid #333;
}

.logo .div-2 {
  position: relative;
  left: 20px;
  bottom: 8px;
  width: 150px;
  height: 75px;
  border-radius: 50%;
  background-color: lightgreen;
  border: 3px solid #333;
  padding: 15px;
}

.logo h1 {
  text-align: center;
  font-size: 2rem;
}

ul {
  padding-top: 100px;
  list-style: none;
  display: flex;
}

li a {
  text-decoration: none;
  color: #333;
  border: 1px solid #333;
  padding: 5px 20px;
  margin-right: 10px;
  background-color: orangered;
  font-weight: bold;
}

input[type="text"] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: 1px solid #333;
}

.search-container button {
  float: right;
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  cursor: pointer;
  border: 1px solid #333;
}

.search-container button:hover {
  background: #ccc;
}

/* cards */
.cards {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.card img {
  width: 100%;
}

/* footer */
#main-footer {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: mediumpurple;
}
